<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBreoVITfIH4WT_ZyxjFKoS0UDLaMinlfE</string>
	<key>GCM_SENDER_ID</key>
	<string>753511703351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sprint1.ChitChat</string>
	<key>PROJECT_ID</key>
	<string>chitchat-41918</string>
	<key>STORAGE_BUCKET</key>
	<string>chitchat-41918.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:753511703351:ios:62c6ea261b75a4ec67f0b2</string>
</dict>
</plist>
